body{
    color: rgb(26, 11, 46);background-color: #1A0B2E;
}
.navbar{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 16px 0 ;
}
.nav-logo{
    color: white;
    font-size: 30px;
    /* margin-top:16px ; */
    font-weight: bold;
}
.logo-color{
    color:rgb(199, 4, 212) ;
}
.nav-navbar ul{
    display: flex;
    gap: 20px;
    

}
.nav-navbar ul li{
    list-style: none;
}
.nav-navbar ul li a{
    text-decoration: none;
    color: white;
}
.nav-btn{
    font-size: 22px;
    padding: 10px 25px;
    background-color:rgb(199, 4, 212);
    border-radius: 40px;
    color: white;
}
hr{
    opacity: calc(0.3);
}

/* About section */
.About{
    color: white;
    max-width: 77%;
    width: 1340px;
    margin: 0 auto;
    text-align: center;
}
.About-container{
    color: white;
    margin: 50px 0 50px;
}
.About-container h2{
    font-size: 48px;
    
}
.About-container p{
    font-size: 18px;
    opacity: 0.7;
    line-height: 38px;
    
}
.About-card{
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    /* justify-items: center; */
    /* align-items: center; */
    text-align: center;
    margin: 50px 0;
}
.About-card h3{
    font-size: 48px ;
    font-weight: bold;
    color:#00FF88 ;
    margin-bottom: 16px;
    padding: 0%;
}
.card p{
    font-size: 18px;
    opacity:0.7;
    /* margin-top: 16px; */

}
