body{
    color: rgb(26, 11, 46);background-color: #1A0B2E;
}
.navbar{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 16px 0 ;
}
.nav-logo{
    color: white;
    font-size: 30px;
    /* margin-top:16px ; */
    font-weight: bold;
}
.logo-color{
    color:rgb(199, 4, 212) ;
}
.nav-navbar ul{
    display: flex;
    gap: 20px;
    

}
.nav-navbar ul li{
    list-style: none;
}
.nav-navbar ul li a{
    text-decoration: none;
    color: white;
}
.primary, .nav-btn{
    background: linear-gradient(90deg, #ff4ecd, #ffb347);
    color: white;
}
.nav-btn{
    font-size: 22px;
    padding: 10px 25px;
    background-color:rgb(199, 4, 212);
    border-radius: 40px;
    color: white;
}
hr{
    opacity: calc(0.3);
}

.banner{
    background-image: url(../image/hero-bg.png);
    background-size: cover;
    background-position: center;
    padding: 120px 0;
}

.banner-inner{
    max-width: 1340px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.banner-logo{
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto 30px;
}

.banner-logo .bg-img{
    width: 100%;
    display: block;
}

.banner-logo .top-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
}
.banner-logo .my-chalage{
    position: absolute;
    top: 10px;
    right: 5px;
    background: #00ff99;
    color: #000;
    font-size: 16px;
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: bold;
}
.banner-title{
    font-size: 48px;
    margin-bottom: 10px;
}

.banner-text{
    font-size: 18px;
    opacity: 0.75;
    line-height: 32px;
    margin-bottom: 30px;
}

/* Buttons */
.banner-btn{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.secondary{
    background: transparent;
    border: 1px solid #00ff99;
    color: #00ff99;
}
/* About section */
.About, .banner-container{
    color: white;
    max-width: 77%;
    width: 1340px;
    margin: 0 auto;
    text-align: center;
}
.About-container{
    color: white;
    margin: 50px 0 50px;
}
.About-container h2, .banner-title{
    font-size: 48px;
    
}
.About-container p, .banner-text{
    font-size: 18px;
    opacity: 0.7;
    line-height: 38px;
    
}
.About-card{
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    text-align: center;
    margin: 50px 0;
}
.About-card h3{
    font-size: 48px ;
    font-weight: bold;
    color:#00FF88 ;
    margin-bottom: 16px;
    padding: 0%;
}
.card p{
    font-size: 18px;
    opacity:0.7;
    /* margin-top: 16px; */
}

/* TechWave */
.TechWave{
    background-color: #230E3D;
    padding: 80px 0;
}

.TechWave-title{
    text-align: center;
    color: white;
    font-size: 42px;
    margin-bottom: 50px;
}

.TechWave-container > div{
    background-color:#341658;
    padding: 25px;
    border-radius: 15px;
    color: white;
    /* box-shadow: 0 4px 10px #301452; */
}
.TechWave-1{
     grid-area: TechWave-1;
     }
.TechWave-2{ 
    grid-area: TechWave-2;
 }
.TechWave-3{ 
    grid-area: TechWave-3;
 }
.TechWave-4{ 
    grid-area: TechWave-4;
 }
.TechWave-5{ 
    grid-area: TechWave-5;
 }
.TechWave-container{
    max-width: 1340px;
    width: 77%;
    margin: 0 auto;
    display: grid;
    gap: 25px;
    grid-template-areas: 
        "TechWave-1 TechWave-2 TechWave-2"
        "TechWave-1 TechWave-3 TechWave-3"
        "TechWave-4 TechWave-4 TechWave-5";
}

.TechWave-container img{
    width: 40px;
    margin-bottom: 15px;
}
.TechWave-container h3{
    margin-bottom: 10px;
    font-size: 24px;
}
.TechWave-container p{
    font-size: 16px;
    line-height: 26px;
    opacity: 0.7;
}
/* Episodes=container */
.Episodes-container{
    color: white;
}
.Featured{
    margin-top: 120px;
}
.Episodes{
    display: flex;
    justify-content: space-evenly;
    max-width: 1340px;
    width: 77%;
    margin: 0 auto;
    gap: 30px;
    
    
}
.Episodes-card{
    background-color: #230E3D;
    border-radius: 20PX;
    max-width: 77%;

}
.Episodes-card iframe{
    border-radius: 20PX 20PX 0 0 ;
}
.Episodes-card h4{
    font-size: 1.5rem ;
    margin-left: 15px;
}
.Episodes-card p{
    font-size: 1rem ;
    margin-left: 15px;
    opacity: .7;
    margin-bottom: 22px;
}
.Episodes-card span{
    color: #00FF88;
    font-size: 18px;
    margin-left: 15px;
}
.Episodes-card{

}
/* Meet the Host */
.Host{
    display: flex;
    max-width: 77%;
    width: 1340px;
    gap: 30px;
    margin: 0 auto;
    background-color: #230E3D;
    padding: 50px;
    border-radius: 20px;
}
.Host h3{
    font-size: 32px;
    margin-bottom: 16px;
}
.Host p {
    opacity: .7;
    line-height: 28px;
}
.Host img{
    margin-right: 16px;
}